# fly.toml app configuration file generated for slack-mcp-orchestrator on 2026-02-06T14:07:28Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'slack-mcp-orchestrator'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
